<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chatzy">
    <meta name="keywords" content="Chatzy">
    <meta name="author" content="Chatzy">
    <link rel="manifest" href="~/chatzy/manifest.json">
    <link rel="icon" href="~/chatzy/assets/images/LOGO-118x118.png" type="image/x-icon">
    <title>@ViewData["Title"] - Messenger.WebApp</title>
    <link rel="apple-touch-icon" href="~/chatzy/assets/images/LOGO-118x118.png">
    <meta name="theme-color" content="#01AA85">
    @* <meta name="apple-mobile-web-app-capable" content="yes"> *@
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Chatzy">
    <meta name="msapplication-TileImage" content="~/chatzy/assets/images/LOGO-118x118.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="~/chatzy/assets/css/vendors/iconsax.css">

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="~/chatzy/assets/css/vendors/swiper-bundle.min.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="~/chatzy/assets/css/vendors/bootstrap.css">
    <!-- template css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="~/chatzy/assets/css/style.css">
    @* <link rel="stylesheet" href="~/css/imported-chat-styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/sliding-panel.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/voiceStyle.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
 
    @RenderBody()

    
   
    <!-- add story modal starts -->
    <div class="modal fade add-modal" id="add-story-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add Story</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <ul class="story-list">
                        <li>
                            <div class="story-types-box">
                                <div class="story-image">
                                    <img src="~/chatzy/assets/images/icons/gallery.png" alt="gallery">
                                </div>
                                <h5>Select From Gallery</h5>
                            </div>
                        </li>
                        <li>
                            <div class="story-types-box">
                                <div class="story-image">
                                    <img src="~/chatzy/assets/images/icons/camera.png" alt="camera">
                                </div>
                                <h5>Open Camera</h5>
                            </div>
                        </li>
                        <li>
                            <div class="story-types-box">
                                <div class="story-image">
                                    <img src="~/chatzy/assets/images/icons/text.png" alt="text">
                                </div>
                                <h5>Write Text</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- add story modal end  -->
    <!-- friend story modal starts -->
    <div class="modal fade story-modal" id="friend-story" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="swiper story__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide position-relative">
                                <img class="img-fluid story-img" src="~/chatzy/assets/images/story-img1.png" alt="story-img">
                                <div class="story-person-content">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="story-person-img">
                                            <img class="img-fluid person-icon" src="~/chatzy/assets/images/profile/p2.png" alt="p2">
                                        </div>
                                        <h3> Albert Flores</h3>
                                        <h6>10 min ago</h6>
                                    </div>
                                    <a href="#" data-bs-dismiss="modal">
                                        <i class="iconsax close-btn" data-icon="add"> </i>
                                    </a>
                                </div>

                                <form class="message-inputarea">
                                    <input type="text" class="message-input" placeholder="Type here...">
                                    <img class="img-fluid smile" src="~/chatzy/assets/images/svg/smile.svg" alt="">
                                    <i class="iconsax file" data-icon="paperclip-2"> </i>
                                    <i class="iconsax mic" data-icon="mic-2"> </i>

                                    <a href="/" type="button" class="message-send-btn">
                                        <i class="iconsax icon-btn" data-icon="send-2"> </i>
                                    </a>
                                </form>
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid story-img" src="~/chatzy/assets/images/story-img2.png" alt="story-img">
                                <div class="story-person-content">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="story-person-img">
                                            <img class="img-fluid person-icon" src="~/chatzy/assets/images/profile/p2.png" alt="p2">
                                        </div>
                                        <h3> Albert Flores</h3>
                                        <h6>10 min ago</h6>
                                    </div>
                                    <a href="#" data-bs-dismiss="modal">
                                        <i class="iconsax close-btn" data-icon="add"> </i>
                                    </a>
                                </div>

                                <form class="message-inputarea">
                                    <input type="text" class="message-input" placeholder="Type here...">
                                    <img class="img-fluid smile" src="~/chatzy/assets/images/svg/smile.svg" alt="">
                                    <i class="iconsax file" data-icon="paperclip-2"> </i>
                                    <i class="iconsax mic" data-icon="mic-2"> </i>

                                    <a href="/" type="button" class="message-send-btn">
                                        <i class="iconsax icon-btn" data-icon="send-2"> </i>
                                    </a>
                                </form>
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid story-img" src="~/chatzy/assets/images/story-img3.png" alt="story-img">
                                <div class="story-person-content">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="story-person-img">
                                            <img class="img-fluid person-icon" src="~/chatzy/assets/images/profile/p2.png" alt="p2">
                                        </div>
                                        <h3> Albert Flores</h3>
                                        <h6>10 min ago</h6>
                                    </div>
                                    <a href="#" data-bs-dismiss="modal">
                                        <i class="iconsax close-btn" data-icon="add"> </i>
                                    </a>
                                </div>
                                <form class="message-inputarea">
                                    <input type="text" class="message-input" placeholder="Type here...">
                                    <img class="img-fluid smile" src="~/chatzy/assets/images/svg/smile.svg" alt="">
                                    <i class="iconsax file" data-icon="paperclip-2"> </i>
                                    <i class="iconsax mic" data-icon="mic-2"> </i>

                                    <a href="/" type="button" class="message-send-btn">
                                        <i class="iconsax icon-btn" data-icon="send-2"> </i>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="story__pagination swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- friend story modal end -->

   <!--chat files modal-->
    <div class="modal fade" id="groupFilesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="groupFilesModalLabel">Group Shared Files</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @* این بخش توسط AJAX پر خواهد شد *@
                </div>
            </div>
        </div>
    </div>


    <!--light box modal-->
    <!-- Modal برای نمایش لایت‌باکس -->
    <div class="modal fade" id="imageLightboxModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-dark text-white position-relative overflow-hidden">
                <div class="modal-header border-0">
                    <h6 class="modal-title" id="imageFileName"></h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body position-relative overflow-hidden" style="min-height:70vh;">
                    <div id="imageLoader" class="spinner-border text-light position-absolute top-50 start-50 translate-middle" style="display:none;"></div>

                    <!-- دو تصویر برای اسلاید -->
                    <img id="imageA" class="lightbox-image position-absolute top-50 start-50 translate-middle" src="" alt="">
                    <img id="imageB" class="lightbox-image position-absolute top-50 start-50 translate-middle" src="" alt="">
                </div>

                <div class="modal-footer justify-content-between border-0">
                    <div>
                        <button class="btn btn-outline-light" id="prevImage">
                            <i class="iconsax icon-btn" data-icon="chevron-left"></i>
                        </button>
                        <button class="btn btn-outline-light" id="nextImage">

                            <i class="iconsax icon-btn" data-icon="chevron-right"> </i>
                        </button>
                    </div>
                    <button class="btn btn-success btn-download-image-file">
                       
                        <i class="iconsax icon-btn" data-icon="download"> </i>
                        <span class="spinner-border spinner-border-sm spinner-icon" style="display:none;"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('Service Worker با موفقیت ثبت شد:', registration);
                    })
                    .catch(error => {
                        console.log('ثبت Service Worker با خطا مواجه شد:', error);
                    });
            });
        }
    </script>

    <!-- iconsax js -->
    <script src="~/chatzy/assets/js/iconsax.js"></script>

    <!-- bootstrap js -->
    <script src="~/chatzy/assets/js/bootstrap.bundle.min.js"></script>

    <!-- swiper js -->
    <script src="~/chatzy/assets/js/swiper-bundle.min.js"></script>
    <script src="~/chatzy/assets/js/custom-swiper.js"></script>



    <!-- script js -->
    <script src="~/chatzy/assets/js/script.js"></script>

    <!-- template Setting js -->
    @* <script src="~/chatzy/assets/js/template-setting.js"></script> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/group-info-panel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
